<h1>Welcome to Rock, Paper, Scissors</h1>
<p>
  To play the game, simply add the 2 items of your choice
  (rock, paper or scissors) to the URL (e.g. http://localhost:4567/rps/rock/paper).
  The winner wil be shown.
</p>
